<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        {{
          modo === 'crear'
            ? 'Agregar Usuario'
            : modo === 'editar'
            ? 'Editar Usuario'
            : 'Detalles de Usuario'
        }}
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="save()">
      <div class="modal-body">
        <div class="row g-3">
          <!-- Nombres -->
          <div class="col-md-6">
            <label for="nombres" class="form-label">Nombres</label>
            <input
              type="text"
              class="form-control"
              id="nombres"
              formControlName="nombres"
              [ngClass]="{
                'is-invalid': userForm.get('nombres')?.touched && userForm.get('nombres')?.invalid
              }"
              required
            />
          </div>

          <!-- Apellidos -->
          <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input
              type="text"
              class="form-control"
              id="apellidos"
              formControlName="apellidos"
              [ngClass]="{
                'is-invalid':
                  userForm.get('apellidos')?.touched && userForm.get('apellidos')?.invalid
              }"
              required
            />
          </div>

          <!-- Usuario -->
          <div class="col-md-6">
            <label for="usuario" class="form-label">Usuario</label>
            <input
              type="text"
              class="form-control"
              id="usuario"
              formControlName="usuario"
              [ngClass]="{
                'is-invalid': userForm.get('usuario')?.touched && userForm.get('usuario')?.invalid
              }"
              required
            />
          </div>

          <!-- Correo -->
          <div class="col-md-6">
            <label for="correo" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              id="correo"
              formControlName="correo"
              [ngClass]="{
                'is-invalid': userForm.get('correo')?.touched && userForm.get('correo')?.invalid
              }"
              required
            />
          </div>

          <!-- Dirección -->
          <div class="col-12">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion" />
          </div>

          <!-- Rol -->
          <div class="col-md-6">
            <label for="rol" class="form-label">Rol</label>
            <select
              id="rol"
              class="form-select"
              formControlName="rol"
              [ngClass]="{
                'is-invalid': userForm.get('rol')?.touched && userForm.get('rol')?.invalid
              }"
              required
            >
              <option value="0" disabled selected>Seleccione un rol</option>
              @for (rol of roles; track $index) {
              <option [ngValue]="rol.id">{{ rol.rol }}</option>
              }
            </select>
          </div>

          <!-- Estado -->
          <div class="col-md-6">
            <label for="estado" class="form-label">Estado</label>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="estado"
                formControlName="estado"
              />
              <label class="form-check-label" for="estado">
                {{ userForm.get('estado')?.value ? 'Activo' : 'Inactivo' }}
              </label>
            </div>
          </div>

          <!-- Password (solo crear o editar) -->
          @if (modo === 'crear') {

          <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              [ngClass]="{
                'is-invalid': userForm.get('password')?.touched && userForm.get('password')?.invalid
              }"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="repeatpassword" class="form-label">Repetir Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="repeatpassword"
              formControlName="repeatpassword"
              [ngClass]="{'is-invalid': userForm.errors?.['passwordsMismatch'] && userForm.get('repeatpassword')?.touched}"
              required
            />
          </div>
          }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        @if (modo === 'crear') {
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          [disabled]="userForm.invalid"
        >
          Guardar
        </button>
        } @if (modo === 'editar') {
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
        }
      </div>
    </form>
  </div>
</div>
