/* Sidebar base */

.app-sidebar .nav-link {
  transition: all 0.2s ease-in-out;
}

.app-sidebar .nav-link.active {
  font-weight: 600;
}

/* Iconos del menú */
.app-sidebar .nav-icon {
  margin-right: 10px;
}

/* Submenús */
/* .app-sidebar .nav-treeview {
  margin-left: 15px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.app-sidebar .nav-treeview .nav-link {
  padding-left: 30px;
  font-size: 0.9rem;
}
 */
