<!--begin::Sidebar-->
<aside class="app-sidebar bg-black shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <a class="brand-link">
      <img
        src="/assets/images/robot-nav.png"
        alt="SysTekno"
        class="brand-image opacity-75 shadow"
      />
      <span class="brand-text fw-dark" style="font-size: xx-large">SysTekno</span>
    </a>
  </div>
  <!--end::Sidebar Brand-->

  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper" data-overlayscrollbars="host">
    <div
      data-overlayscrollbars-viewport="scrollbarHidden overflowXHidden overflowYScroll"
      overlay-scrollbars
      [options]="{ scrollbars: { autoHide: 'scroll' } }"
      [defer]="true"
    >
      <nav class="mt-2">
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="menu"
          data-accordion="false"
        >
          @for (item of menuItems(); track $index) { @if (item.isHeader) {
          <li class="nav-header">{{ item.label }}</li>
          } @if (!item.isHeader && item.submenu) { @let isActive = activeMenu() === item.label;

          <li class="nav-item" [ngClass]="{ 'menu-open': isActive }">
            <a (click)="toggleMenu(item.label)" class="nav-link" style="cursor: pointer">
              <i class="nav-icon" [ngClass]="item.icon"></i>
              <p>
                {{ item.label }}
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>

            @if (isActive) {
            <ul class="nav nav-treeview">
              @for (sub of item.submenu; track $index) {
              <li class="nav-item">
                <a
                  [routerLink]="sub.route"
                  routerLinkActive="active"
                  class="nav-link"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  <i class="nav-icon" [ngClass]="sub.icon"></i>
                  <p>{{ sub.label }}</p>
                </a>
              </li>
              }
            </ul>
            }
          </li>
          } @if (!item.isHeader && !item.submenu) {
          <li class="nav-item">
            <a
              [routerLink]="item.route"
              routerLinkActive="active"
              class="nav-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="nav-icon" [ngClass]="item.icon"></i>
              <p>{{ item.label }}</p>
            </a>
          </li>
          } }
        </ul>
      </nav>
    </div>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
