<!--begin::App Content Header-->
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Productos</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a>Mantenimientos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Productos</li>
        </ol>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content Header-->

<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between mb-3">
          <button
            class="btn btn-info"
            data-bs-toggle="modal"
            data-bs-target="#productoFormModal"
            (click)="openForm(null, 'crear')"
          >
            Agregar Proveedor
          </button>
          <input
            type="text"
            class="form-control w-50"
            placeholder="Buscar producto..."
            [(ngModel)]="searchTerm"
            (input)="onSearchChange()"
          />
        </div>

        <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th (click)="sortBy('id')">
                ID @if (sortColumn === 'id') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('producto')">
                Producto @if (sortColumn === 'producto') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('stockmin')">
                Stockmin @if (sortColumn === 'stockmin') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('stockmax')">
                Stockmax @if (sortColumn === 'stockmax') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('categoria_name')">
                Categoria @if (sortColumn === 'categoria_name') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('marca_name')">
                Marca @if (sortColumn === 'marca_name') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('medida_name')">
                Medida @if (sortColumn === 'medida_name') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('precio_venta')">
                Precio V @if (sortColumn === 'precio_venta') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('precio_costo')">
                Precio C @if (sortColumn === 'precio_costo') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th (click)="sortBy('descripcion')">
                Descripcion @if (sortColumn === 'descripcion') {
                {{ sortDirection === 'asc' ? '▲' : '▼' }}
                }
              </th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (producto of filteredProductos; track $index) {

            <tr>
              <td>{{ producto.id }}</td>
              <td>{{ producto.producto }}</td>
              <td>{{ producto.stockmin }}</td>
              <td>{{ producto.stockmax }}</td>
              <td>{{ producto.categoria_name }}</td>
              <td>{{ producto.marca_name }}</td>
              <td>{{ producto.medida_name }}</td>
              <td>{{ producto.precio_venta }}</td>
              <td>{{ producto.precio_costo }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>
                <span class="badge" [ngClass]="status(producto.estado!)">
                  @if(producto.estado === true){
                  <i class="bi bi-check-circle"></i>
                  }@else {
                  <i class="bi bi-x-circle"></i>
                  }
                </span>
              </td>
              <td>
                <div class="btn-group btn-group-sm">
                  <a
                    class="btn btn-info"
                    data-bs-toggle="modal"
                    data-bs-target="#productoFormModal"
                    (click)="openForm(producto, 'ver')"
                    ><i class="bi bi-eye-fill"></i
                  ></a>
                  <a
                    class="btn btn-warning"
                    data-bs-toggle="modal"
                    data-bs-target="#productoFormModal"
                    (click)="openForm(producto, 'editar')"
                    ><i class="bi i bi-pencil-square"></i
                  ></a>
                  <a class="btn btn-danger" (click)="deleteProducto(producto)"
                    ><i class="bi bi-trash-fill"></i
                  ></a>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

        <!-- Paginación simple -->
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-secondary" (click)="changePage(-1)" [disabled]="page === 1">
            Anterior
          </button>
          <span
            >Página {{ page }} de {{ totalPages() }} | Mostrando {{ filteredProductos.length }} de
            {{ totalRecords }} registros</span
          >
          <button
            class="btn btn-secondary"
            (click)="changePage(1)"
            [disabled]="page === totalPages()"
          >
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="productoFormModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <app-form-producto [producto]="productoSeleccionado" [modo]="modoFormulario"></app-form-producto>
</div>
